# ignore all files
/*
.config/*
# excluyed
!.config
!.config/hypr
!.config/eww
!.config/gtk-3.0
!.config/nvim
!.config/rofi
!.config/tmux
!.config/yazi

.local/*
!.local

.local/bin/*
!.local/bin/
!.local/bin/StartDHCPCD
!.local/bin/StartStaticIP
!.local/bin/swww
!.local/bin/swww-daemon

.local/share/*
.local/share/applications/*
!.local/share
!.local/share/applications
!.local/share/applications/nvim2.desktop
!.local/share/fonts

Pictures/*
!Pictures
!Pictures/penguer

!.github/
!.gitattributes
!.gitignore
!.bashrc
!README.md
!.emacs*
.emacs.d/
!.tmux.conf

*~
.config/zsh/zhistory
**.config/ranger/colorschemes/__pycache__
**.config/ranger/plugins/__pycache__
**.config/ranger/plugins/ranger-devicons/__pycache__
**.config/ranger/plugins/ranger-archives/__pycache__
**.config/nvim/plugin
