# ignore all files
/*

.config/*
# excluyed
!.config
!.config/hypr
!.config/eww
!.config/gtk-3.0
!.config/nvim
!.config/rofi
!.config/tmux
!.config/yazi

!.tmux
!.tmux/plugins

.local/*
!.local
!.local/bin
!.local/share
.local/share/*
!.local/share/applications
!.local/share/fonts

Pictures/*
!Pictures
!Pictures/Wallpapers

!.github/
!.gitignore
!.zshrc
!.bashrc
!README.md

.config/zsh/zhistory
**.config/ranger/colorschemes/__pycache__
**.config/ranger/plugins/__pycache__
**.config/ranger/plugins/ranger-devicons/__pycache__
**.config/ranger/plugins/ranger-archives/__pycache__
**.config/nvim/plugin
