# ignore all files
/*

.config/*
# excluyed
!.config
!.config/alacritty
!.config/bspwm
!.config/betterlockscreenrc
!.config/converseen
!.config/gtk-3.0
!.config/mpd
!.config/neofetch
!.config/nitrogen
!.config/nvim
!.config/paru
!.config/ranger
!.config/systemd
!.config/zsh

.local/*
!.local
!.local/bin
!.local/share
.local/share/*
!.local/share/applications
!.local/share/fonts

Pictures/*
!Pictures
!Pictures/Wallpapers

!ren0-install
!.github/
!.gitignore
!.zshrc
!.bashrc
!.xinitrc
!README.md

.config/zsh/zhistory
**.config/ranger/colorschemes/__pycache__
**.config/ranger/plugins/__pycache__
**.config/ranger/plugins/ranger-devicons/__pycache__
**.config/ranger/plugins/ranger-archives/__pycache__
**.config/nvim/plugin
