* {
    background:      #191919;
    background-norm: #181818;
    background-alt:  #E34039;
    steady:          #343331FF;
    foreground:      #FFFFFFFF;
    border:          #6F6E69FF;
    selected:        #61AFEFFF;
}
