unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

bind -n M-H previous-window
bind -n M-L next-window

set -g @plugin 'tmux-plugins/tpm'
set-option -a terminal-features 'XXX:RGB'

set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'

set -g allow-passthrough on
set -ga update-environment TERM
set -ga update-environment TERM_PROGRAM

run '~/.tmux/plugins/tpm/tpm'
