configuration {
    modi: "drun";
    icon-theme: "Papirus-Dark";
    show-icons: false;
    drun-display-format: "{name}";
    disable-history: false;
    sidbar-mode: false;
}

* {
    font: "JetBrainsMono Nerd Font Bold 9";
    backgound: #191919;
    backgound-al: #000000;
    foregound: #000000;
    selected: #000000;
}
